[Desktop Entry]
Name=KeyStore Explorer
GenericName=Multipurpose keystore and certificate tool
Exec=/opt/keystore-explorer/kse.sh
Icon=/opt/keystore-explorer/icons/kse_512.png
Terminal=false
Type=Application
Categories=Utility;Security;System;Java;Development;
StartupWMClass=org-kse-KSE
