[Desktop Entry]
Name=Postman
GenericName=Postman
Exec=/opt/postman/Postman
Icon=/opt/postman/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Development;
StartupWMClass=postman
