[Desktop Entry]
Name=IntelliJ IDEA Ultimate
GenericName=IntelliJ IDEA Ultimate
Exec=/opt/intellij-idea-ultimate/bin/idea.sh
Terminal=false
Icon=idea
Type=Application
Categories=Development;
StartupWMClass=jetbrains-idea
