[Desktop Entry]
Name=VisualVM
GenericName=VisualVM
Exec=/opt/visualvm/bin/visualvm
Icon=/opt/visualvm/icon.png
Terminal=false
Type=Application
Categories=Development;
StartupWMClass=VisualVM @VERSION@
